<div class="container mt-40 mb-20">

    <div class="page-title col-md-12">
        <h2>{{empName}}'s Allocations</h2>
    </div>

    <table class="table table-hover table-bold-head table-striped  bbdatatable">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Title</th>
                <th>Competency</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>% Allocation</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="data in allocationData">
                <td data-ng-if="role != 'SALES LEAD' && role != 'HRBP'" data-ng-click="navigate(data.projectName);closeThisDialog(0)"style="cursor: pointer" >{{data.projectName}}</td>
                <td data-ng-if="role == 'SALES LEAD' || role == 'HRBP'">{{data.projectName}}</td>
                <td>{{data.title}}</td>
                <td>{{data.competency}}</td>
                <td>{{data.startDate}}</td>
                <td>{{data.endDate}}</td>
                <td>{{data.allocationPercentage}}</td>
            </tr>
        </tbody>
    </table>
</div>
