<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Resignation</title>
</head>
<body>
<div class="modal-header">
    <h3 class="modal-title">Employee Resignation
        <button class="btn btn-xs btn-circle btn-danger pull-right" type="button"
                ng-click="close()"><span class="glyphicon glyphicon-remove"></span></button>
    </h3>
</div>
<div class="modal-body">
    <form name="resignationForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-5 col-form-label" style="margin-left: 2px;">Start Date:</label>
                    <div id="reportStartDatePickerReq" class="input-group date col-sm-5">
                        <input name="startDate" type="date" min="2016-01-01" max="{{maxstartDate}}"
                               class="form-control"
                               data-ng-model="startDate" required="">
                        <span class="input-group-addon adjustSpan"
                              elem-ready="enableCalenderReq('reportStartDatePickerReq','startDate')">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div><br/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-5 col-form-label">End Date:</label>
                    <div id="reportEndDatePickerReq" class="input-group date col-md-5">
                        <input name="endDate" type="date" min="{{minEndDate}}" max="2018-01-31"
                               class="form-control ng-pristine ng-empty ng-valid-min ng-valid-max ng-invalid ng-invalid-required ng-touched"
                               data-ng-model="endDate" required="">
                        <span class="input-group-addon adjustSpan"
                              elem-ready="enableCalenderReq('reportEndDatePickerReq', 'endDate')">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" style="
    padding-right: 3%;">Notice Period:</label>
            <span class="col-md-4" style="
    padding-right: 6%;
    margin-left: -4%;
">
                <input type="number" class="form-control" placeholder="" name="noticePeriod" data-ng-model="noticePeriod" required>
                </span>
            <button class="btn btn-info col-md-3" ng-click="resign()" style="margin-left: 16%;">Submit</button>
        </div>


    </form>

</div>
<div class="modal-footer">

</div>

</body>
</html>