<div class="leave-summary">
    <div class="modal-header">
        <h2 class="modal-title">Leave Summary
            <button class="btn btn-xs btn-circle btn-danger pull-right" type="button"
                    ng-click="close()"><span class="glyphicon glyphicon-remove"></span></button>
        </h2>
    </div>

    <div class="modal-body">
        <div style="text-align:center;" data-ng-show="showAlertMessage">
            <div class="alert alert-success" style="display:inline;">
                {{message}}
            </div>
        </div>

        <div>
            <table class="table table-hover table-bold-head table-striped bbdatatable table-condensed leaves-table">
                <thead>
                    <tr>
                        <th>{{label.startDate}}</th>
                        <th>{{label.endDate}}</th>
                        <th>{{label.leaveType}}</th>
                        <th>{{label.status}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <tr data-ng-if="leaveList.length == 0 && !leaveLoader">
                        <td colspan="8">{{label.no_leave}}</td>
                    </tr>

                    <tr data-ng-repeat-start="leave in currLeaveList track by $index" data-ng-if="lrow_c[$index]" class="loading">
                        <td colspan="8">&nbsp;</td>
                    </tr>

                    <tr data-ng-repeat-end>
                        <td>{{leave.startDate | date:'MMM d, y'}}</td>
                        <td>{{leave.endDate | date:'MMM d, y'}}</td>
                        <td>{{leave.leaveType}}</td>
                        <td>{{leave.status}}</td>
                    </tr>

                    <tr data-ng-if="lrow_c[currLeaveList.length]" class="loading">
                        <td colspan="8">&nbsp;</td>
                    </tr>

                    </tr>
                </tbody>
            </table>
            <div style="float: left; color: #999999;margin-left: 5px;">Total: {{leaveList.length}} record(s)</div>
            <div class="pagination-wrap col-md-12" data-ng-show="leaveList.length > itemPerPage" style="padding:0;">
                <pagination
                        data-ng-model="currLeavePage"
                        items-per-page="itemPerPage"
                        total-items="leaveList.length"
                        max-size="maxSize"
                        boundary-links="true"
                        class="dboard-paginate"
                >
                </pagination>
                <div class="clear:both;"></div>
            </div>
        </div>
    </div>

    <div class="modal-footer"></div>
</div>