<div data-ng-controller="staffAllocationCtrl" lazy-load>

	<div id="dialog-spinner" data-ng-show="showDialogSpinner">
     	 <img src="assets/images/spinner.gif">
  	</div>
	<div class="container mt-40 mb-20">

		<div class="page-title col-md-12">
			<h2>Employee Search</h2>
		</div>

		<div class="col-md-3" id="filterWrap" style="overflow: auto;" elem-ready="setHeight()">
			<div class="primary-filter">
				<h2 class="primary-subhead">Competency</h2>
				<div>
					<select class="form-control filter-element" name="competency" data-ng-model="currCompetency" required>
						<option data-ng-repeat="competency in competencyList" value="{{competency}}">{{competency}}</option>
					</select>
                    <div class="filter-item-secondary-container">
                        <div style="">
                            <input name="competency_type" data-ng-model="competencyType.primary" type="checkbox"><label>Primary</label>
                        </div>
                        <div>
                            <input name="competency_type" data-ng-model="competencyType.secondary" type="checkbox"><label>Secondary</label>
                        </div>
                    </div>
				</div>
				<div class="glyph">
					<button class="btn btn-xs btn-primary" data-ng-click="getEmployeeList()">Search</button>
				</div>
			</div>	
			<ul class="filter-list-menu">
                <li class="primary-subhead">
                    <h2 data-ng-click="showAllocationFilter = !showAllocationFilter">ALLOCATION
                        <span class="filter-anchor" data-ng-show="showAllocationFilter">&ndash;</span>
                        <span class="filter-anchor" data-ng-show="!showAllocationFilter">+</span>
                    </h2>
                    <ul class="filter-list" data-ng-show="showAllocationFilter" style="max-height: unset;">
                        <li>
                            <div>
                                <p>Billable Allocation</p>
                                <rzslider rz-slider-model="billableRangeSlider.minValue" rz-slider-high="billableRangeSlider.maxValue" rz-slider-options="billableRangeSlider.options"></rzslider>
                            </div>
                            <div>
                                <p>Non-Billable Allocation</p>
                                <rzslider rz-slider-model="nonBillableRangeSlider.minValue" rz-slider-high="nonBillableRangeSlider.maxValue" rz-slider-options="nonBillableRangeSlider.options"></rzslider>
                            </div>
							<div>
								<p>Shadow Allocation</p>
								<rzslider rz-slider-model="shadowRangeSlider.minValue" rz-slider-high="shadowRangeSlider.maxValue" rz-slider-options="shadowRangeSlider.options"></rzslider>
							</div>

                        </li>
                    </ul>
                </li>
				<li class="primary-subhead">
					<h2 data-ng-click="showTitleFilter = !showTitleFilter">Title 
						<span class="filter-anchor" data-ng-show="showTitleFilter">&ndash;</span>
						<span class="filter-anchor" data-ng-show="!showTitleFilter">+</span>
					</h2>
					<ul class="filter-list" data-ng-show="showTitleFilter">
						<li data-ng-repeat="title in titleList">
							<div>
								<input type="checkbox" name="competency" data-checklist-model="empTitle" data-checklist-value="title" data-ng-click="applyFilter();">
								<label>{{title}}</label>
							</div>
						</li>
					</ul>
				</li>
				<li class="primary-subhead">
					<h2 data-ng-click="showExpFilter = !showExpFilter">Experience
						<span class="filter-anchor" data-ng-show="showExpFilter">&ndash;</span>
						<span class="filter-anchor" data-ng-show="!showExpFilter">+</span>
					</h2>
					<ul class="filter-list" data-ng-show="showExpFilter">
						<li data-ng-repeat="exp in experienceList">
							<div>
								<input type="checkbox" name="experience" data-checklist-model="experience" data-checklist-value="exp.name" data-ng-click="applyFilter();">
								<label>{{exp.value}}</label>
							</div>
						</li>
					</ul>
				</li>
				<li class="primary-subhead">
					<h2 data-ng-click="showCompetencyFilter = !showCompetencyFilter">Competency Rating
						<span class="filter-anchor" data-ng-show="showCompetencyFilter">&ndash;</span>
						<span class="filter-anchor" data-ng-show="!showCompetencyFilter">+</span>
					</h2>
					<ul class="filter-list" data-ng-show="showCompetencyFilter">
						<li>
							<div>
								<input type="checkbox" name="crating" data-checklist-model="crating" data-checklist-value="'Expert'" data-ng-click="applyFilter();">
								<label>Expert</label>
							</div>
						</li>
						<li>
							<div>
								<input type="checkbox" name="crating" data-checklist-model="crating" data-checklist-value="'Intermediate'" data-ng-click="applyFilter();">
								<label>Intermediate</label>
							</div>
						</li>
						<li>
							<div>
								<input type="checkbox" name="crating" data-checklist-model="crating" data-checklist-value="'Beginner'" data-ng-click="applyFilter();">
								<label>Beginner</label>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<h4>Include Resigned: <input type="checkbox" style="width: 15px;height: 15px;margin-top: 2px" data-ng-model="resignFilter" data-ng-click="applyFilter();">
					</h4>

				</li>
			</ul>
		</div>

		<div class="col-md-9">
			<div class="lst-cnt" style="display: inline-block;">Showing {{currEmpList.length}} of {{employeeListBuffer.length}} records.</div>
            <div style="float: right; margin-top: -7px;"><input class="form-control input-sm" type="text" data-ng-model="searchText" placeholder="Search"></div>
			<div class="empList-wrap">
				<div data-ng-repeat="employee in currEmpList track by $index" class="emp-wrap col-md-12">
					<div class="primary-info col-md-6">
                        <div class="primary-info-wrap col-md-12">
                            <div class="emp-image-wrap col-md-5">
                            	<img src="{{employee.imageUrl}}" class="emp-image">
							</div>
							<div class="primary-info-main col-md-7">
						        <h2>{{employee.name}}</h2>
						        <div>{{employee.title}}</div>
								<div data-ng-if="employee.resign" class="sub-info">
									<div class="badge badge-pill alert-danger" data-ng-click="resigntionDetails(employee)" style="cursor: pointer">Resigned</div>

								</div>
								<div class="sub-info">
									<div><span class="info-subhead">Joining Date:</span> {{employee.joiningDate |  date:'MMM d, y' }}</div>
									<!--<div><span class="info-subhead">Experience:</span> {{employee.noOfYearsExp}} year(s)</div>-->
								</div>


								<div class="sub-info">
									<div><span class="info-subhead">Primary Competency:</span> {{employee.competency.name}}</div>
									<!--<div><span class="info-subhead">Rating:</span> {{employee.competency.rating}}</div>-->
								</div>

                            </div>
                        </div>
						<div class="sub-info">
							<p class="info-subhead">Current Utilization</p>
							<div>
								<div class="subinfo-item"><span class="info-subhead">Billable:</span> {{employee.additionalInfo.totalBillableAllocation}}%</div>
								&nbsp;&nbsp;|&nbsp;&nbsp; 
								<div class="subinfo-item"><span class="info-subhead">Non-Billable:</span> {{employee.additionalInfo.totalNonBillableAllocation}}%</div>
								&nbsp;&nbsp;|&nbsp;&nbsp;
								<div class="subinfo-item"><span class="info-subhead">Shadow:</span> {{employee.additionalInfo.totalShadowAllocation}}%</div>

								<div style="display:inline-block; position: relative;">

									<div class="popup linked" data-ng-show="popup[$index]" data-ng-class="{'small-popup' : employee.additionalInfo.totalBillableAllocation == 0 || employee.additionalInfo.totalNonBillableAllocation == 0}">
										<span class="close-me" data-ng-click="popup[$index] = false">x</span>
                                        <div data-ng-class="employee.additionalInfo.totalNonBillableAllocation > 0 ? 'col-md-6':'col-md-12'" data-ng-show="employee.additionalInfo.totalBillableAllocation > 0">
                                            <table class="table table-bold-head table-striped bbdatatable" style="margin-bottom:0">
                                                <thead>
                                                    <tr>
                                                        <th>Billable Projects</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="(name, value) in employee.additionalInfo.currentBillableProjects">
                                                        <td>{{name}} ({{value.allocation}}%)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div data-ng-class="employee.additionalInfo.totalBillableAllocation > 0 ? 'col-md-6':'col-md-12'" data-ng-show="employee.additionalInfo.totalNonBillableAllocation > 0">
                                            <table class="table table-bold-head table-striped bbdatatable" style="margin-bottom:0">
                                                <thead>
                                                    <tr>
                                                        <th>Non-Billable Projects</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="(name, value) in employee.additionalInfo.currentNonBillableProjects">
                                                        <td>{{name}} ({{value.allocation}}%)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
										<div data-ng-class="employee.additionalInfo.totalShadowAllocation > 0 ? 'col-md-6':'col-md-12'" data-ng-show="employee.additionalInfo.totalShadowAllocation > 0">
											<table class="table table-bold-head table-striped bbdatatable" style="margin-bottom:0">
												<thead>
												<tr>
													<th>Shadow Projects</th>
												</tr>
												</thead>
												<tbody>
												<tr data-ng-repeat="(name, value) in employee.additionalInfo.currentShadowProjects">
													<td>{{name}} ({{value.allocation}}%)</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>

									<button data-ng-show="employee.additionalInfo.totalBillableAllocation > 0 || employee.additionalInfo.totalNonBillableAllocation > 0 || employee.additionalInfo.totalShadowAllocation > 0" data-ng-click="popup[$index] = true" class="btn btn-xs btn-success" style="margin-left:10px">See Details</button>
								</div>
							</div>
						</div>
					</div>
					<div class="project-info col-md-3">
						<p class="info-subhead">Previous Projects:</p>
						<ul>
							<li data-ng-repeat="project in employee.additionalInfo.previousProjects">{{project}}</li>
						</ul>
					</div>
					<div class="project-info col-md-3">
						<p class="info-subhead">Current Projects:</p>
						<ul>
							<li
									data-ng-repeat="(name, value) in employee.additionalInfo.currentBillableProjects"
									data-ng-click="navigate(name)" style="cursor: pointer">{{name}}
								({{value.allocation}}%)
							</li>
							<li
									data-ng-repeat="(name, value) in employee.additionalInfo.currentNonBillableProjects"
									data-ng-click="navigate(name)" style="cursor: pointer">
								{{name}} ({{value.allocation}}%)
							</li>

							<li
									data-ng-repeat="(name, value) in employee.additionalInfo.currentShadowProjects"
									data-ng-click="navigate(name)" style="cursor: pointer">
								{{name}} ({{value.allocation}}%)
							</li>
						</ul>
					</div>
					<!--<div class="rating-info col-md-3">
						<div >
							<span class="glyphicon glyphicon-flag" style="right: 2px;color: #a94442;margin-top: -20px;" title="employee.lastDay" data-toggle="tooltip" ng-show="employee.resign"></span>
							<span class="glyphicon glyphicon-flag" style="color: #31708f;margin-top: -20px;" ng-show="employee.leave"></span>
						</div>
						<p class="info-subhead">Reviwer Rating:</p>
						<ul>
							<li data-ng-repeat="rating in employee.reviewerFeedback">{{rating.rating.cycle}}&nbsp;&nbsp;:&nbsp;&nbsp;{{rating.rating.value}}</li>
						</ul>
					</div>-->
					<div style="clear:both"></div>
					<div>
						<span class="info-subhead">Leaves:</span>
						<span>{{employee.leavesCount}}</span>
					</div>
					<div class="contact-info"><span class="info-subhead">Email:</span> {{employee.emailAddress}}</div>
					<div class="action-btn glyph">
						<button class="btn btn-xs btn-success" data-ng-click="allocate(employee)">{{label.allocate}}</button>
						<button class="btn btn-xs btn-primary" data-ng-show="!employee.isNominated" data-ng-click="nominate(employee.emailAddress)">{{label.nominate}}</button>
						<button class="btn btn-xs btn-danger" data-ng-show="employee.isNominated" data-ng-click="rejectNomination($index, employee.emailAddress)">{{label.reject}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>