<div class="form-container" data-ng-controller="fixedProjectCtrl">
	<form name="fixedBilling" class="form-horizontal" novalidate>
		
		<div class="form-group">
		    <label class="control-label col-md-3">{{label.projectValue}}</label>
		    <div class="col-md-2" ng-class="{ 'has-error' : fixedBilling.currency.$invalid && !fixedBilling.currency.$pristine }">
		    	<select class="form-control" name="currency" data-ng-model="formData.projectValue.currency" required>
			        <option value="">{{label.selectCurrency}}</option>
			        <option data-ng-repeat="currency in currencyList" value="{{currency}}">{{currency}}</option>
			    </select>
			    <p ng-show="fixedBilling.currency.$invalid && !fixedBilling.currency.$pristine" class="help-block">{{errorMessage.selectCurrency}}</p> 
		    </div>
		    <div class="col-md-4" ng-class="{ 'has-error' : fixedBilling.amount.$invalid && !fixedBilling.amount.$pristine }">
		    	<input data-ng-model="formData.projectValue.amount" min="0" name="amount" type="number" class="form-control" placeholder="Enter Amount" required>
		    	<p ng-show="fixedBilling.amount.$error.required && !fixedBilling.amount.$pristine" class="help-block">{{errorMessage.amount_required}}</p>
		    	<p ng-show="fixedBilling.amount.$error.number || fixedBilling.amount.$error.min" class="help-block">{{errorMessage.amount_invalid}}</p>
		    </div>
		</div>

		<div class="form-group" data-ng-repeat="mileStone in formData.billingMilestones track by $index">
			
			<div class="col-md-3" data-ng-show="$index == 0" style="text-align:right;">
		    	<label class="control-label">{{label.billingMilestone}}</label>
		    </div>

		    <div class="col-md-3" data-ng-show="$index > 0">
		    </div>

			<div class="col-md-2" ng-class="{ 'has-error' : fixedBilling.milestoneName{{$index +1}}.$invalid && !fixedBilling.milestoneName{{$index +1 }}.$pristine }">
		    	<input data-ng-model="formData.billingMilestones[$index].name" name="milestoneName{{$index +1}}" type="text" class="form-control" placeholder="Milestone Name" required>
		    	<p ng-show="fixedBilling.milestoneName{{$index + 1}}.$invalid && !fixedBilling.milestoneName{{$index + 1}}.$pristine" class="help-block">{{errorMessage.name_required}}</p>
		    </div>

		    <div class="col-md-2" ng-class="{ 'has-error' : fixedBilling.amount{{$index + 1}}.$invalid && !fixedBilling.amount{{$index + 1}}.$pristine }">
		    	<input data-ng-model="formData.billingMilestones[$index].amount" min="0" name="amount{{$index + 1}}" type="number" class="form-control" placeholder="Amount" required>
		    	<p ng-show="fixedBilling.amount{{$index + 1}}.$error.required && !fixedBilling.amount{{$index + 1}}.$pristine" class="help-block">{{errorMessage.amount_required}}</p>
		    	<p ng-show="fixedBilling.amount{{$index + 1}}.$error.number || fixedBilling.amount{{$index + 1}}.$error.min" class="help-block">{{errorMessage.amount_invalid}}</p>
		    </div>

		    <div class="col-md-2" ng-class="{ 'has-error' : fixedBilling.date{{$index + 1}}.$invalid && !fixedBilling.date{{$index + 1}}.$pristine }">
		    	<div class="input-group date" id="datePicker{{$index +1}}">
		    		<input data-ng-model="formData.billingMilestones[$index].tentativeDate" min="{{projectStartDate | date:'yyyy-MM-dd'}}" name="date{{$index + 1}}" type="date" class="form-control" placeholder="YYYY-MM-DD" required>
		    		<span class="input-group-addon adjustSpan" elem-ready="enableCalender($index, fixedBilling.date{{$index + 1}})">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>    
		    	<p ng-show="fixedBilling.date{{$index + 1}}.$error.required && !fixedBilling.date{{$index + 1}}.$pristine" class="help-block">{{errorMessage.date_required}}</p>
		    	<p ng-show="fixedBilling.date{{$index + 1}}.$error.date" class="help-block">{{errorMessage.date_invalid}}</p>
		    	<p ng-show="fixedBilling.date{{$index + 1}}.$error.min" class="help-block">{{errorMessage.date_invalid_min}}</p>
		    </div>
		    <div class="col-md-3" style="text-align:left;padding:8px 20px">
		    	<a href="javascript:void(0);" data-ng-click="removeMilestone($index)"><span class="glyphicon glyphicon-remove" title="{{label.remove}}"></span>
		    </div>
		</div>

		<div class="form-group">
			<div class="col-md-3"></div>
			<div class="col-md-3" style="text-align:left;">
		    	<a href="javascript:void(0);" data-ng-click="addMilestone()"><span class="glyphicon glyphicon-plus-sign"></span> {{label.addMilestone}}</a>
		    </div>
		</div>

		<div class="form-group">
			<input type="button" class="btn bb-button bb-button-secondary" value="Go Back" data-ng-click="goBack()"> 
		    <input type="button" data-ng-show="mode == 'CREATE'" ng-disabled="fixedBilling.$invalid" class="btn btn-primary bb-button" value="Continue" data-ng-click="reconcile()"> 
		    <!--<input type="button" data-ng-show="mode == 'UPDATE'" ng-disabled="fixedBilling.$invalid || fixedBilling.$pristine" class="btn btn-primary bb-button" value="Update" data-ng-click="reconcile()">-->
		    <input type="button" data-ng-show="mode == 'UPDATE'" ng-disabled="fixedBilling.$invalid || fixedBilling.$pristine" class="btn btn-primary bb-button" value="Finish" data-ng-click="reconcile()">
		</div>
	</form>
</div>