<div data-ng-controller="benchCtrl">
    <div class="col-md-2 title-container" style="margin-bottom:20px; padding:0;">
        <div style="display:inline-block;">
            <h4 style="margin:0;">{{label.benchLabel}}</h4>
            <div class="title-border"></div>
        </div>
    </div>
    <div class="col-md-2 table-count"><h5>Total: {{benchList.length}} record(s)</h5></div>
    <div class="col-md-2" style="padding: 0px;"><h5>Include Resigned : <input type="checkbox"
                                                                              style="width: 15px;height: 15px;margin-top: 2px"
                                                                              data-ng-model="benchResignFilter"
                                                                              data-ng-click="resignationFilter()">
    </h5></div>
    <div class="col-md-1" style="padding: 0; margin-left: 10px">
        <select class="form-control" data-ng-change="benchDateFilter()" ng-model="onBenchDate" style="font-size:12px;">
            <option value="">Today</option>
            <option value="7">7 Days</option>
            <option value="15">15 Days</option>
            <option value="30">30 Days</option>
            <option value="60">60 Days</option>
            <option value="90">90 Days</option>
        </select>
    </div>
    <div class="col-md-2" style=" padding: 0;margin-left: 2px;">
        <select class="form-control " data-ng-change="applyDesignationFilter()" data-ng-model="competency"
                style="font-size:12px;" required>
            <option value="">All Competency</option>
            <option data-ng-repeat="competency in competencyList" value="{{competency}}">{{competency}}</option>
        </select>
    </div>
    <div class="col-md-2" style=" padding: 0;margin-left: 2px">
        <select class="form-control " data-ng-change="applyDesignationFilter()" data-ng-model="designation"
                style="font-size:12px;" required>
            <option value="">All Designation</option>
            <option data-ng-repeat="title in titleList">{{title}}</option>
        </select>
    </div>

    <table class="table table-hover table-bold-head table-striped  bbdatatable table-condensed"
           style="margin-top: 50px">
        <thead>
        <tr>
            <th ng-click="sortedList('employeeName')" style="cursor: pointer" class="w-18">{{label.employeeName}}<span
                    class="{{(property=='employeeName')?sortingclass:''}}"></span></th>
            <th ng-click="sortedList('title')" style="cursor: pointer">{{label.title}}<span
                    class="{{(property=='title')?sortingclass:''}}"></span></th>
            <th ng-click="sortedList('competency')" style="cursor: pointer">{{label.competency}}<span
                    class="{{(property=='competency')?sortingclass:''}}"></span></th>
            <th>{{label.currentProject}}</th>
            <th>{{label.nominatedProjects}}</th>
            <th ng-click="sortedList('availableFrom')" style="cursor: pointer">{{label.availableFrom}}<span
                    class="{{(property=='availableFrom')?sortingclass:''}}"></span></th>

            <th ng-click="sortedList('bench')" style="cursor: pointer">{{label.availablity}}<span
                    class="{{(property=='bench')?sortingclass:''}}"></span></th>
            <th data-ng-show="role != 'SALES LEAD' && role != 'HRBP'">{{label.action}}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-if="benchList.length==0">
            <td colspan="7">No Data Found</td>
        </tr>
        <tr data-ng-repeat="empOnBench in benchList">
            <td>{{empOnBench.employeeName}}<span data-ng-if="empOnBench.resign" style="margin-left: 1px;cursor: pointer"
                                                 class="badge badge-pill alert-danger"
                                                 data-ng-click="resigntionDetails(empOnBench)">Resigned</span>
                <span class="emp-leaves badge badge-pill alert-danger" data-ng-click="showLeaveSummary(empOnBench)" data-ng-if="empOnBench.leavesCount" >{{empOnBench.leavesCount}}</span>
            </td>
            <td>{{empOnBench.title}}</td>
            <td>{{empOnBench.competency}}</td>
            <td data-ng-if="empOnBench.currentProjects.length>0">
                <div data-ng-repeat="currProjects in empOnBench.currentProjects" data-ng-click="navigate(currProjects.split(' (')[0])"
                     style="cursor: pointer">{{currProjects}}
                </div>
            </td>
            <td data-ng-if="empOnBench.currentProjects.length==0">N/A</td>
            <td data-ng-if="empOnBench.nominatedProjects.length>0">
                <div data-ng-repeat="nomProjects in empOnBench.nominatedProjects" data-ng-click="navigate(nomProjects.split(' (')[0])"
                     style="cursor: pointer">{{nomProjects}}
                </div>
            </td>
            <td data-ng-if="empOnBench.nominatedProjects.length==null">N/A</td>
            <td>{{empOnBench.availableFrom!=99999?(empOnBench.availableFrom | date:'MMM d, y'):'NOW'}}</td>
            <td>{{empOnBench.bench | number : 0}}</td>
            <td data-ng-show="role != 'SALES LEAD' && role != 'HRBP'">
                <button class="btn btn-xs btn-primary"
                        data-ng-click="projectAssign(empOnBench.email, empOnBench.employeeName,empOnBench.competency,empOnBench)">
                    ASSIGN
                </button>
                <button class="btn btn-xs btn-primary"
                        data-ng-click="viewAllocations(empOnBench.email, empOnBench.employeeName)">Details
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>