<div data-ng-controller="nonBillable">
    <div>
        <div class="col-md-3 title-container" style="margin-bottom:20px; padding:0;">
            <div style="display:inline-block;">
                <h5 style="margin:0;">{{label.nonBillableEmployee}}</h5>
                <div class="title-border"></div>
            </div>
        </div>
        <div class="col-md-3 table-count"><h5>Total: {{nonBillableEmployee.length}} record(s)</h5></div>
        <div class="col-md-2" style=" padding: 0; margin-left: 10%;">
            <select class="form-control" data-ng-change="competencyChanged()" data-ng-model="competency">
                <option value="">All Competency</option>
                <option data-ng-repeat="competency in competencyList" value="{{competency}}">{{competency}}</option>
            </select>
        </div>
        <div class="col-md-2" style="float:right; padding: 0; margin-left: 10px;">
            <select class="form-control" ng-model="region" data-ng-change="regionChanged()">
                <option value="">All Regions</option>
                <option data-ng-repeat="region in regionList" value="{{region}}">{{region}}</option>
            </select>
        </div>

        <table class="table table-hover table-bold-head table-striped  bbdatatable table-condensed">
            <thead>
            <tr>
                <th ng-click="sortedList('employeeCode')" style="cursor: pointer" class="w9">{{label.empCode}}<span
                        class="{{(property=='employeeCode')?sortingclass:''}}"></span></th>
                <th ng-click="sortedList('employeeName')" style="cursor: pointer" class="w16">
                    {{label.employeeName}}<span class="{{(property=='employeeName')?sortingclass:''}}"></span></th>
                <th ng-click="sortedList('email')" style="cursor: pointer" class="w25">{{label.email}}<span
                        class="{{(property=='email')?sortingclass:''}}"></span></th>
                <th ng-click="sortedList('title')" style="cursor: pointer" class="w16">{{label.title}}<span
                        class="{{(property=='title')?sortingclass:''}}"></span></th>
                <th ng-click="sortedList('region')" style="cursor: pointer" class="w13">{{label.region}}<span
                        class="{{(property=='region')?sortingclass:''}}"></span></th>
                <th ng-click="sortedList('competency.name')" style="cursor: pointer" class="w16">
                    {{label.competency}}<span class="{{(property=='competency.name')?sortingclass:''}}"></span></th>
                <th class="w16">{{label.projects}}</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-if="nonBillableEmployee.length==0">
                <td colspan="7">No Data Found</td>
            </tr>

            <tr data-ng-repeat="employee in nonBillableEmployee  track by $index">
                <td>{{employee.employeeCode}}</td>
                <td>{{employee.employeeName}}<span data-ng-if="employee.resign" style="margin-left: 1px;cursor: pointer"
                                                   class="badge badge-pill alert-danger"
                                                   data-ng-click="resigntionDetails(employee)">Resigned</span></td>
                <td>{{employee.email}}</td>
                <td>{{employee.title}}</td>
                <td>{{employee.region}}</td>
                <td>{{employee.competency.name}}</td>
                <td>
                    <div data-ng-repeat="project in employee.projectName  track by $index"
                         data-ng-click="navigate(project)" style="cursor: pointer">{{project}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>