<div style="padding: 20px 0;" data-ng-controller="graphCtrl">
    <div class="container" data-ng-show="allocationsTableLoaded">
        <div class="col-md-4 title-container" style="margin-bottom:20px; padding:0;">
            <div style="display:inline-block;">
                <h5 style="margin:0;">Allocations / Open Requests</h5>
                <div class="title-border" style="float:none;"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="graph-option col-md-7">
                <p style="margin-left: 40%;margin-top: 2%;">Project Type:&nbsp;</p>
                <select class="form-control input-sm pull-right" ng-change="populateProjectList()"
                        ng-model="projectType"
                        required>
                    <option data-ng-repeat="projectType in projectTypes" value="{{projectType}}">{{projectType}}
                    </option>
                </select>
            </div>
            <div class="graph-option col-md-5">
                <p style="margin-left: 15%;margin-top: 2%;">Table Type:&nbsp;</p>
                <select class="form-control input-sm pull-right" ng-change="loadBillable()" ng-model="graphType"
                        required>
                    <option data-ng-repeat="graphType in graphTypes" value="{{graphType}}">{{graphType}}
                    </option>
                </select>
            </div>
        </div>
        <div class="allocation-table">
            <div class="table-width-setter table-responsive" style="margin-top: 5%;">
                <div>
                    <table class="table table-hover table-bold-head table-striped  bbdatatable table-condensed graph-table" style="font-size: 10px;">
                        <thead>
                        <tr>
                            <th>Competency</th>
                            <th data-ng-repeat="region in regionList track by $index">{{region}}</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-if="tempBillableDatacount==0">
                            <td colspan="{{regionList.length}}">No Data Available.</td>
                        </tr>
                        <tr data-ng-if="tempBillableDatacount!=0" data-ng-repeat="competency in comptencyList">
                            <td>{{competency}}</td>
                            <td data-ng-repeat="region in regionList track by $index">
                                {{billableData[region][competency]?billableData[region][competency]:0}}
                            </td>
                            <td>{{billableData.total[competency]?billableData.total[competency]:0}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td data-ng-repeat="region in regionList track by $index">{{billableData.total[region]?billableData.total[region]:0}}
                            </td>
                            <td>{{billableData.total.total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top: 2%"></div>
    <div class="pull-right col-md-12">
        <button class="btn btn-lg btn-info pull-right" data-ng-click="showGraphORTable()">{{showGraphORTableLabel}}
        </button>
    </div>
    <div style="margin-top: 10%" data-ng-if="showGraphORTableFlag">
        <div class="panel panel-primary" style="border-color: whitesmoke;">
            <div class="panel-heading" style="margin-top: 2%">Total Upcoming Deallocations : {{count}}</div>
            <div class="panel-body">
                <div class="graph-options-wrap">
                    <div class="graph-option col-md-12" style="margin-top: 2%">
                        <p>Time Frame : </p>
                        <select class="form-control input-sm"
                                ng-change="loadUpcomingDeallocationsGraph(invoiceCycle)" ng-model="invoiceCycle"
                                name="frequency1" required>
                            <option data-ng-repeat="frq in invoiceCycles" value="{{frq}}">{{frq}}</option>
                        </select>
                    </div>
                </div>
                <nvd3 options="upcomingDeallocationsOptions" data="upcomingDeallocationsData"
                      config="config"></nvd3>
            </div>
        </div>
    </div>
    <div style="margin-top: 10%" data-ng-if="!showGraphORTableFlag">
        <div class="table-responsive" style="overflow: visible;">
            <div class="col-md-4 title-container" style="margin-bottom:20px; padding:0;">
                <div style="display:inline-block;">
                    <h5 style="margin:0;"> Total Upcoming Deallocations : {{count}}</h5>
                    <div class="title-border" style="float:none;"></div>
                </div>
            </div>
            <div class="graph-option  pull-right">
                <p>Time Frame : </p>
                <select class="form-control input-sm"
                        data-ng-change="loadUpcomingDeallocationsGraph(invoiceCycle)"
                        data-ng-model="invoiceCycle" name="frequency" required>
                    <option data-ng-repeat="frq in invoiceCycles" value="{{frq}}">{{frq}}</option>
                </select>
            </div>
        </div>
        <div class="table-width-setter table-responsive" style="margin-top: 5%;">
            <table class="table table-hover table-bold-head table-striped  bbdatatable table-condensed graph-table" style="font-size: 10px;">
                <thead>
                <tr>
                    <th data-ng-repeat="competency in comptencyList">{{competency}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-ng-repeat="competency in comptencyList">
                        {{upcomingDeallocations[competency]?upcomingDeallocations[competency]:0}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div data-ng-hide="isRegionHead">
            <div class="panel panel-primary" style="border-color: whitesmoke;margin-top: 3%">
                <div class="panel-heading">Total Bench : {{benchEmpList.length}}</div>
                <div class="panel-body bench-chart">
                    <nvd3 options="options" data="pieData" config="config"></nvd3>
                </div>
            </div>
        </div>
    </div>
</div>