<div data-ng-controller="staffReqCtrl">


	<div class="table-responsive bbtable">
		<form name="staffReq" novalidate>
			<table class="table table-hover table-bold-head table-striped bbeditabledatatable">
				<thead>
					<tr>
						<th class="w15">{{label.title}}</th>
						<th class="w15">{{label.billable}}</th>
						<th class="w15">{{label.competency}}</th>
						<th class="w15">{{label.startdate}}</th>
						<th class="w15">{{label.enddate}}</th>
						<th class="w15">{{label.allocation}}</th>
						<th class="w15">{{label.addn_details}}</th>
						<th class="w4"></th>
						<th class="w4"></th>
						<th class="w4"></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-if="staffList.length == 0 && !addNew && currEditIndex == -1">
						<td colspan="10">{{label.no_staff_request}}</td>
					</tr>
					
					<tr data-ng-repeat-start="curr in staffList track by $index" data-ng-if="row[$index]">
						<td>
						    <div ng-class="{ 'has-error' : (staffReq.title.$invalid && !staffReq.title.$pristine) || (staffReq.title.$invalid && submitted) }">
						    	<select class="form-control input-sm" name="title" data-ng-model="staff.title" required>
							        <option value="">{{label.selectTitle}}</option>
							        <option data-ng-repeat="title in titleList" value="{{title}}">{{title}}</option>
							    </select>
						    </div>
						</td>
						<td>
							<div>
						    	<select class="form-control input-sm" name="billableType" data-ng-model="staff.billable" data-ng-disabled="disableBillable" required>
                                    <option value="BILLABLE" selected="selected">{{label.billable}}</option>
                                    <option value="NON_BILLABLE">{{label.nonBillable}}</option>
                                    <option value="SHADOW">{{label.shadow}}</option>
							    </select>
						    </div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.competency.$invalid && !staffReq.competency.$pristine) || (staffReq.competency.$invalid && submitted)}">
						    	<select class="form-control input-sm" name="competency" data-ng-model="staff.competency"  required>
							        <option value="">{{label.selectCompetency}}</option>
							       	<option data-ng-repeat="comp in competencies" value="{{comp}}">{{comp}}</option>
							    </select>
						    </div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.startdate.$invalid && !staffReq.startdate.$pristine) || (staffReq.startdate.$invalid && submitted) }">
						    	<div id="startDatePicker" class="input-group date">
					    			<input name="startdate" type="date" min="{{projectStartDate | date:'yyyy-MM-dd'}}" max="{{projectEndDate | date:'yyyy-MM-dd'}}" class="form-control input-sm" placeholder="YYYY-MM-DD" data-ng-model="staff.startDate" required>
						    		<span class="input-group-addon adjustSpan" elem-ready="enableCalender('startDatePicker', 'startdate')">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
				            	</div>
				            	<p ng-show="staffReq.startdate.$error.date" class="help-block">{{errorMessage.date_invalid}}</p>
				            	<p ng-show="staffReq.startdate.$error.min" class="help-block">{{errorMessage.startdate_invalid_min}}</p>
				            	<p ng-show="staffReq.startdate.$error.max" class="help-block">{{errorMessage.startdate_invalid_max}}</p>
							</div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.enddate.$invalid && !staffReq.enddate.$pristine ) || (staffReq.enddate.$invalid && submitted)}">
							    <div id="endDatePicker" class="input-group date">
							    	<input name="enddate" type="date" min="{{staff.startDate | date:'yyyy-MM-dd'}}" max="{{projectEndDate | date:'yyyy-MM-dd'}}" class="form-control input-sm" placeholder="YYYY-MM-DD" data-ng-model="staff.endDate"  required>
						    		<span class="input-group-addon adjustSpan" elem-ready="enableCalender('endDatePicker', 'enddate')">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
							    </div>
							    <p ng-show="staffReq.enddate.$error.date" class="help-block">{{errorMessage.date_invalid}}</p>
							    <p ng-show="staffReq.enddate.$error.min" class="help-block">{{errorMessage.enddate_invalid_min}}</p>
				            	<p ng-show="staffReq.enddate.$error.max" class="help-block">{{errorMessage.enddate_invalid_max}}</p>
						    </div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.allocation.$invalid && !staffReq.allocation.$pristine ) || (staffReq.allocation.$invalid && submitted)}">
							    <input name="allocation" type="number" min="0" max="100" class="form-control input-sm" placeholder="% Allocation" data-ng-model="staff.allocation"  required>
							    <p ng-show="staffReq.allocation.$error.number" class="help-block">{{errorMessage.allocation_invalid}}</p>
							    <p ng-show="staffReq.allocation.$error.min || staffReq.allocation.$error.max" class="help-block">{{errorMessage.allocation_invalid_minmax}}</p>
						    </div>
						</td>
						<td>
							<div>
								<textarea class="form-control input-sm" rows="2" id="details" data-ng-model="staff.details"></textarea>
							</div>
						</td>
						<td>&nbsp;</td>
						<td class="glyph edit">
							<button title="{{label.add}}" data-ng-click="doneEdit($index)" type="button" class="btn btn-xs btn-success">
							  <span class="glyphicon glyphicon-ok"></span>
							</button>
						</td>
						<td class="glyph edit">
							<button title="{{label.cancel}}" data-ng-click="cancelEdit($index)" type="button" class="btn btn-xs btn-danger">
							  <span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>

					<tr data-ng-if="lrow[$index]" class="loading">
						<td colspan="10">&nbsp;</td>
					</tr>

					<tr data-ng-repeat-end>
						<td>{{curr.title}}</td>
						<td>{{'true' == curr.billable ? 'Yes':'No'}}</td>
						<td>{{curr.competency}}</td>
						<td>{{curr.startDate | date:'MMM d, y' }}</td>
						<td>{{curr.endDate | date:'MMM d, y' }}</td>
						<td>{{curr.allocation}}</td>
						<td>{{curr.details}}</td>
						<td class="glyph">
							<button title="{{label.copy}}" data-ng-click="copyRow($index)" type="button" class="btn btn-xs btn-primary">
							  <span class="glyphicon glyphicon-duplicate"></span>
							</button>
						</td>
						<td class="glyph">
							<button title="{{label.edit}}" data-ng-click="editRequest($index)" type="button" class="btn btn-xs btn-primary" data-ng-disabled="curr.state =='Closed'">
							  <span class="glyphicon glyphicon-pencil"></span>
							</button>
						</td>
						<td class="glyph">
							<button title="{{label.delete}}" data-ng-click="deleteRequest($index);" type="button" class="btn btn-xs btn-danger">
							  <span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>

					<tr data-ng-if="lrow[staffList.length]" class="loading">
						<td colspan="10">&nbsp;</td>
					</tr>
					<tr data-ng-if="row[staffList.length]">
						<td>
						    <div ng-class="{ 'has-error' : (staffReq.title.$invalid && !staffReq.title.$pristine) || (staffReq.title.$invalid && submitted) }">
						    	<select class="form-control input-sm" name="title" data-ng-model="staff.title" required>
							        <option value="">{{label.selectTitle}}</option>
							        <option data-ng-repeat="title in titleList" value="{{title}}">{{title}}</option>
							    </select>
						    </div>
						</td>
						<td>
							<div>
						    	<select class="form-control input-sm" name="billableType" data-ng-model="staff.billable" data-ng-disabled="disableBillable" required>
                                    <option value="BILLABLE" selected="selected">{{label.billable}}</option>
                                    <option value="NON_BILLABLE">{{label.nonBillable}}</option>
                                    <option value="SHADOW">{{label.shadow}}</option>
							    </select>
						    </div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.competency.$invalid && !staffReq.competency.$pristine) || (staffReq.competency.$invalid && submitted)}">
						    	<select class="form-control input-sm" name="competency" data-ng-model="staff.competency"  required>
							        <option value="">{{label.selectCompetency}}</option>
							       	<option data-ng-repeat="comp in competencies" value="{{comp}}">{{comp}}</option>
							    </select>
						    </div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.startdate.$invalid && !staffReq.startdate.$pristine) || (staffReq.startdate.$invalid && submitted) }">
						    	<div id="startDatePicker" class="input-group date">
					    			<input name="startdate" type="date" min="{{projectStartDate | date:'yyyy-MM-dd'}}" max="{{projectEndDate | date:'yyyy-MM-dd'}}" class="form-control input-sm" placeholder="YYYY-MM-DD" data-ng-model="staff.startDate" required>
						    		<span class="input-group-addon adjustSpan" elem-ready="enableCalender('startDatePicker', 'startdate')">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
				            	</div>
				            	<p ng-show="staffReq.startdate.$error.date" class="help-block">{{errorMessage.date_invalid}}</p>
				            	<p ng-show="staffReq.startdate.$error.min" class="help-block">{{errorMessage.startdate_invalid_min}}</p>
				            	<p ng-show="staffReq.startdate.$error.max" class="help-block">{{errorMessage.startdate_invalid_max}}</p>
							</div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.enddate.$invalid && !staffReq.enddate.$pristine ) || (staffReq.enddate.$invalid && submitted)}">
							    <div id="endDatePicker" class="input-group date">
							    	<input name="enddate" type="date" min="{{staff.startDate | date:'yyyy-MM-dd'}}" max="{{projectEndDate}}" class="form-control input-sm" placeholder="YYYY-MM-DD" data-ng-model="staff.endDate"  required>
						    		<span class="input-group-addon adjustSpan" elem-ready="enableCalender('endDatePicker', 'enddate')">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
							    </div>
							    <p ng-show="staffReq.enddate.$error.date" class="help-block">{{errorMessage.date_invalid}}</p>
							    <p ng-show="staffReq.enddate.$error.min" class="help-block">{{errorMessage.enddate_invalid_min}}</p>
				            	<p ng-show="staffReq.enddate.$error.max" class="help-block">{{errorMessage.enddate_invalid_max}}</p>
						    </div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.allocation.$invalid && !staffReq.allocation.$pristine ) || (staffReq.allocation.$invalid && submitted)}">
							    <input name="allocation" type="number" min="0" max="100" class="form-control input-sm" placeholder="% Allocation" data-ng-model="staff.allocation"  required>
							    <p ng-show="staffReq.allocation.$error.number" class="help-block">{{errorMessage.allocation_invalid}}</p>
							    <p ng-show="staffReq.allocation.$error.min || staffReq.allocation.$error.max" class="help-block">{{errorMessage.allocation_invalid_minmax}}</p>
						    </div>
						</td>
						<td>
							<div>
								<textarea class="form-control input-sm" rows="2" id="details" data-ng-model="staff.details"></textarea>
							</div>
						</td>
						<td>&nbsp;</td>
						<td class="glyph edit">
							<button title="{{label.add}}" data-ng-click="doneEdit(staffList.length)" type="button" class="btn btn-xs btn-success">
							  <span class="glyphicon glyphicon-ok"></span>
							</button>
						</td>
						<td class="glyph edit">
							<button title="{{label.cancel}}" data-ng-click="cancelEdit(staffList.length)" type="button" class="btn btn-xs btn-danger">
							  <span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>

					<tr data-ng-if = "showLoader" class="loading">
						<td colspan="10">&nbsp;</td>
					</tr>
					<tr data-ng-if="addNew">
						<td>
						    <div ng-class="{ 'has-error' : (staffReq.title.$invalid && !staffReq.title.$pristine) || (staffReq.title.$invalid && submitted) }">
						    	<select class="form-control input-sm" name="title" data-ng-model="staff.title" required>
							        <option value="">{{label.selectTitle}}</option>
							        <option data-ng-repeat="title in titleList" value="{{title}}">{{title}}</option>
							    </select>
						    </div>
						</td>
						<td>
							<div>
						    	<select class="form-control input-sm" name="billableType" data-ng-model="staff.billable" data-ng-disabled="disableBillable" required>
                                    <option value="BILLABLE" selected="selected">{{label.billable}}</option>
                                    <option value="NON_BILLABLE">{{label.nonBillable}}</option>
                                    <option value="SHADOW">{{label.shadow}}</option>
							    </select>
						    </div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.competency.$invalid && !staffReq.competency.$pristine) || (staffReq.competency.$invalid && submitted)}">
						    	<select class="form-control input-sm" name="competency" data-ng-model="staff.competency"  required>
							        <option value="">{{label.selectCompetency}}</option>
							       	<option data-ng-repeat="comp in competencies" value="{{comp}}">{{comp}}</option>
							    </select>
						    </div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.startdate.$invalid && !staffReq.startdate.$pristine) || (staffReq.startdate.$invalid && submitted) }">
						    	<div id="startDatePicker" class="input-group date">
					    			<input name="startdate" type="date" min="{{projectStartDate | date:'yyyy-MM-dd'}}" max="{{projectEndDate | date:'yyyy-MM-dd'}}" class="form-control input-sm" placeholder="YYYY-MM-DD" data-ng-model="staff.startDate" required>
						    		<span class="input-group-addon adjustSpan" elem-ready="enableCalender('startDatePicker', 'startdate')">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
				            	</div>
				            	<p ng-show="staffReq.startdate.$error.date" class="help-block">{{errorMessage.date_invalid}}</p>
				            	<p ng-show="staffReq.startdate.$error.min" class="help-block">{{errorMessage.startdate_invalid_min}}</p>
				            	<p ng-show="staffReq.startdate.$error.max" class="help-block">{{errorMessage.startdate_invalid_max}}</p>
							</div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.enddate.$invalid && !staffReq.enddate.$pristine ) || (staffReq.enddate.$invalid && submitted)}">
							    <div id="endDatePicker" class="input-group date">
							    	<input name="enddate" type="date" min="{{staff.startDate | date:'yyyy-MM-dd'}}" max="{{projectEndDate | date:'yyyy-MM-dd'}}" class="form-control input-sm" placeholder="YYYY-MM-DD" data-ng-model="staff.endDate"  required>
						    		<span class="input-group-addon adjustSpan" elem-ready="enableCalender('endDatePicker', 'enddate')">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
							    </div>
							    <p ng-show="staffReq.enddate.$error.date" class="help-block">{{errorMessage.date_invalid}}</p>
							    <p ng-show="staffReq.enddate.$error.min" class="help-block">{{errorMessage.enddate_invalid_min}}</p>
				            	<p ng-show="staffReq.enddate.$error.max" class="help-block">{{errorMessage.enddate_invalid_max}}</p>
						    </div>
						</td>
						<td>
							<div ng-class="{ 'has-error' : (staffReq.allocation.$invalid && !staffReq.allocation.$pristine ) || (staffReq.allocation.$invalid && submitted)}">
							    <input name="allocation" type="number" min="0" max="100" class="form-control input-sm" placeholder="% Allocation" data-ng-model="staff.allocation"  required>
							    <p ng-show="staffReq.allocation.$error.number" class="help-block">{{errorMessage.allocation_invalid}}</p>
							    <p ng-show="staffReq.allocation.$error.min || staffReq.allocation.$error.max" class="help-block">{{errorMessage.allocation_invalid_minmax}}</p>
						    </div>
						</td>
						<td>
							<div>
								<textarea class="form-control input-sm" rows="2" id="details" data-ng-model="staff.details"></textarea>
							</div>
						</td>
						<td>&nbsp;</td>
						<td class="glyph edit">
							<button title="{{label.add}}" data-ng-click="addStaff()" type="button" class="btn btn-xs btn-success">
							  <span class="glyphicon glyphicon-ok"></span>
							</button>
						</td>	
						<td class="glyph edit">
							<button title="{{label.remove}}" data-ng-click="cancelAdd()" type="button" class="btn btn-xs btn-danger">
							  <span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

            <!--<div class="pagination-wrap col-md-12" data-ng-show="currStaffList.length > itemPerPage" style="padding:0;">
                <pagination
                        data-ng-model="currStaffListPage"
                        items-per-page="itemPerPage"
                        total-items="currStaffList.length"
                        max-size="maxSize"
                        boundary-links="true"
                        class="dboard-paginate"
                >
                </pagination>
                <div class="clear:both;"></div>
            </div>-->
		</form>
	</div>

	<div class="form-group">
		<div style="text-align:left;">	
			<a href="javascript:void(0);" data-ng-click="addNewEditableRow()"><span class="glyphicon glyphicon-plus-sign"></span> {{label.addRequest}}</a>
		</div>
	</div>

	<div class="form-group">
		<input type="button" class="btn bb-button bb-button-secondary" value="Go Back" data-ng-click="goBack();"> 
		<input type="button" data-ng-show="mode == 'CREATE'" class="btn btn-primary bb-button" value="Finish" data-ng-click="finish();"> 
		<input type="button" data-ng-show="mode == 'UPDATE'" class="btn btn-primary bb-button" value="Done" data-ng-click="done();"> 
	</div>

</div>