<html>
    <body>
        <div>
            Dear ${receiver},
        </div>
        <br>
        <div>
            Below Staffing request have been raised for ${project}:
        </div>
        <div>
        <ul>
            <li><strong>Title : </strong> ${title}</li>
            <li><strong>Competency : </strong> ${competency}</li>
            <li><strong>Billablilty : </strong> ${billable}</li>
            <li><strong>Allocation Percentage : </strong> ${allocationPercentage}</li>
            <li><strong>Start Date : </strong> ${startDate}</li>
            <li><strong>End Date : </strong> ${endDate}</li>
            <li><strong>Details : </strong> ${details}</li>
        </ul>
        </div>
    </body>
</html>