<html>
    <body>
        <div>
            Dear ${receiver},
        </div>
        <br>
        <div>
            We apologise for conveying this but you can not be considered for project ${project}. For further information please get in contact with ${spoc}.
        </div>
    </body>
</html>