<div data-ng-controller="openNeedsCtrl">
    <div id="dialog-spinner" data-ng-show="showDialogSpinner">
        <img src="assets/images/spinner.gif">
    </div>
    <div class="container mt-40 mb-20 open-needs-table">

        <div class="table-responsive" style="overflow: visible;">

            <div class="col-md-5 title-container" style="margin-bottom:20px; padding:0;">
                <div style="display:inline-block;">
                    <h3 style="margin:0;">{{label.open_needs}}</h3>
                    <div class="title-border" style="float:none;"></div>
                </div>
            </div>
            <div  class="col-md-2" style="float: right; padding: 0;margin-left: 2px">
                <select class="form-control " data-ng-change="competencyChanged()" data-ng-model="competency" required>
                    <option value="">All Competency</option>
                    <option data-ng-repeat="competency in competencyList" value="{{competency}}">{{competency}}</option>
                </select>
            </div>

            <div class="col-md-2" style="float: right; padding: 0;">
                <select class="form-control" ng-change="regionChanged()" ng-model="region">
                    <option value="">All Regions</option>
                    <option data-ng-repeat="region in regionList" value="{{region}}">{{region}}</option>
                </select>
            </div>

            <table class="table table-hover table-bold-head table-striped  bbdatatable table-condensed">
                <thead>
                <tr>
                    <th ng-click="sortedList('projectName')" style="cursor: pointer" class="w16">{{label.projectName}}<span class="{{(property=='projectName')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('title')" style="cursor: pointer" class="w11">{{label.title}}<span class="{{(property=='title')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('competency')" style="cursor: pointer" class="w13">{{label.competency}}<span class="{{(property=='competency')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('startDate')" style="cursor: pointer" class="w11">{{label.startdate}}<span class="{{(property=='startDate')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('endDate')" style="cursor: pointer" class="w11">{{label.endDate}}<span class="{{(property=='endDate')?sortingclass:''}}"></span></th>
                    <th class="w11">{{label.billingType}}</th>
                    <th ng-click="sortedList('allocation')" style="cursor: pointer" class="w11 glyph">{{label.allocation}}<span class="{{(property=='allocation')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('details')" style="cursor: pointer" class="w11">{{label.details}}<span class="{{(property=='details')?sortingclass:''}}"></span></th>
                    <th  class="w7">{{label.status}}</th>
                    <th data-ng-show="projectAssign">{{label.action}}</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-if="currUnAllocList.length==0">
                    <td colspan="9">No Open Needs Found</td>
                </tr>

                <tr data-ng-repeat="projectStaff in currUnAllocList track by $index">
                    <td data-ng-if="role != 'SALES LEAD' && role != 'HRBP'" data-ng-click="navigate(projectStaff.projectId) ; closeThisDialog(0)" style="cursor: pointer">{{projectStaff.projectName}}</td>
                    <td data-ng-if="role == 'SALES LEAD' || role == 'HRBP'" >{{projectStaff.projectName}}</td>
                    <td>{{projectStaff.title}}</td>
                    <td>{{projectStaff.competency}}</td>
                    <td>{{projectStaff.startDate | date:'MMM d, y'}}</td>
                    <td>{{projectStaff.endDate | date:'MMM d, y'}}</td>
               <!--     <td data-ng-if="projectStaff.billableType === 'BILLABLE'"
                         data-toggle="tooltip" title="Billable">{{label.billable}}</td>
                        <td data-ng-if="projectStaff.billableType === 'NON_BILLABLE'"
                            data-toggle="tooltip" title="Non Billable">{{label.nonBillable}}</td>
                        <td data-ng-if="projectStaff.billableType === 'SHADOW'"
                               data-toggle="tooltip" title="Shadow">{{label.shadow}}</td>-->

                    <td>
                        <span data-ng-if="projectStaff.billableType === 'BILLABLE'">{{label.billable}}</span>
                        <span data-ng-if="projectStaff.billableType === 'NON_BILLABLE'">{{label.nonBillable}}</span>
                        <span data-ng-if="projectStaff.billableType === 'SHADOW'">{{label.shadow}}</span>

                    </td>
                    <td>{{projectStaff.allocation}}%</td>
                    <td class="details-width"><div class="details-text">{{projectStaff.details}}</div></td>
                    <td>
                        <div style="position: relative">
                            <div class="popup linked right" data-ng-show="nominationPopup[$index]" style="padding:15px;z-index: 10000;">
                                <span class="close-me" data-ng-click="nominationPopup[$index] = false">x</span>

                                <table class="table table-bold-head table-striped bbdatatable" style="margin-bottom: 0px;">
                                    <thead>
                                    <tr>
                                        <th colspan="3">NOMINATIONS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="nominatedEmp in projectStaff.nominatedStaffings">
                                        <td style="white-space: nowrap;" colspan="3">{{nominatedEmp.employeeName}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="javascript:void(0);" data-ng-click="nominationPopup[$index] = true" class="nominated"  style="word-wrap: break-word;"
                               data-ng-if="projectStaff.state == 'Open' && projectStaff.nominatedStaffings.length > 0"> {{projectStaff.nominatedStaffings.length}} NOMINATION(S)</a>
                            <div class="open" data-ng-if="projectStaff.state == 'Open' && projectStaff.nominatedStaffings.length == 0">OPEN</div>
                        </div>
                    </td>
                    <td data-ng-show="projectAssign">
                        <div class="action-btn glyph">
                            <button class="btn btn-xs btn-success" data-ng-click="allocate(projectStaff.projectId, projectStaff.id)">
                                {{label.allocate}}
                            </button>
                            <button class="btn btn-xs btn-primary" data-ng-show="!isNominated(projectStaff.nominatedStaffings)"
                                    data-ng-click="nominate(projectStaff.projectId, projectStaff.id, projectStaff.nominatedStaffings)" style="margin-top: 50%;">
                                {{label.nominate}}
                            </button>
                            <button class="btn btn-xs btn-danger" data-ng-show="isNominated(projectStaff.nominatedStaffings)"
                                    data-ng-click="rejectNomination($index, projectStaff.projectId, projectStaff.id, projectStaff.nominatedStaffings)"style="margin-top: 50%;">{{label.reject}}</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div style="float: left; color: #999999;margin-left: 5px;">Total: {{needList.length}} record(s)</div>
            <div class="pagination-wrap col-md-12" data-ng-show="needList.length > itemPerPage" style="padding:0;">
                <pagination
                        data-ng-model="currUnAllocPage"
                        items-per-page="itemPerPage"
                        total-items="needList.length"
                        max-size="maxSize"
                        boundary-links="true"
                        class="dboard-paginate"
                >
                </pagination>
                <div class="clear:both;"></div>
            </div>

        </div>
    </div>
</div>