<div data-ng-controller="assignRolesCtrl" style="height: 100%; padding: 30px 20px; font-size: 13px;">
    <div id="dialog-spinner" data-ng-show="showDialogSpinner">
        <img src="assets/images/spinner.gif">
    </div>
    <div class="col-md-12" style="height: 5%; min-height: 35px;">
        <input type="text" name="search" placeholder="Search" data-ng-model="searchText" style="width: 300px;">
    </div>
    <div class="col-md-8" style="height: 95%">
        <div class="table-responsive scrollable">
            <table class="table table-hover table-bold-head table-striped bbdatatable selectable">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th width="40%">Email</th>
                        <th>Designation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="emp in empList | filter: searchText" data-ng-click="setEmployeeSelected(emp.code, emp.emailAddress)"
                        data-ng-class="{active: emp.code === isEmployeeSelected}">
                        <td>{{emp.code}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.emailAddress}}</td>
                        <td>{{emp.title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4" style="height: 95%;">
        <div class="scrollable" style="height: 30%; margin-bottom: 10px;">
            <table class="table table-hover table-bold-head table-striped bbdatatable">
                <thead>
                    <tr>
                        <th>ROLES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="role in roles">
                        <td><input type="checkbox"  style="margin-right: 10px;" data-ng-checked="isRoleChecked(role)" data-checklist-model="sRole" data-checklist-value="role">{{role}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="scrollable" style="height: 60%">
            <table class="table table-hover table-bold-head table-striped bbdatatable">
                <thead>
                    <tr>
                        <th>REGION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="region in regions">
                        <td><input type="checkbox" style="margin-right: 10px;" data-ng-checked="isRegionChecked(region)" data-checklist-model="sRegion" data-checklist-value="region">{{region}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="height: 10%; text-align: right; margin-top: 15px;" data-ng-click="requestAssignRole();">
            <button class="btn btn-primary bb-button">Assign</button>
        </div>
    </div>
</div>