<div style="padding: 20px 0;" data-ng-controller="projectListCtrl">
    <div style="text-align:center;" data-ng-show="showAlertMessage">
        <div class="alert alert-success" style="display:inline;">
            {{message}}
        </div>
    </div>
    <div class="table-responsive">
        <div class="col-md-4 title-container" style="margin-bottom:20px; padding:0;display: inline-block">
            <div style="display:inline-block;">
                <h3 style="margin:0;">Projects</h3>
                <div class="title-border" style="float:none;"></div>
            </div>
        </div>

        <div class="col-md-2" style="float: right; padding: 0;">
            <select class="form-control" ng-change="regionChanged()" ng-model="region">
                <option value="">All Regions</option>
                <option data-ng-repeat="region in regionList" value="{{region}}">{{region}}</option>
            </select>
        </div>
        <div class="col-md-2" style="float: right; padding: 0; margin-right: 10px;">
            <input class="form-control" type="text" placeholder="Search" data-ng-model="searchText">
        </div>
        <div class="table-width-setter">
            <table class="table table-hover table-bold-head table-striped bbdatatable table-condensed graph-table">
                <thead>
                <tr>
                    <th ng-click="sortedList('projectName')" style="cursor: pointer" class="w18">
                        {{label.projectName}}<span class="{{(property=='projectName')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('businessUnit')" style="cursor: pointer" class="w16">{{label.bu}}<span
                            class="{{(property=='businessUnit')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('region')" style="cursor: pointer" class="w10">{{label.region}}<span
                            class="{{(property=='region')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('client.clientName')" style="cursor: pointer" class="w15">
                        {{label.clientName}}<span class="{{(property=='client.clientName')?sortingclass:''}}"></span>
                    </th>
                    <th class="w9">{{label.billable}}</th>
                    <th ng-click="sortedList('startDate')" style="cursor: pointer" class="w8">{{label.startdate}}<span
                            class="{{(property=='startDate')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('endDate')" style="cursor: pointer" class="w7dot5">{{label.enddate}}<span
                            class="{{(property=='endDate')?sortingclass:''}}"></span></th>
                    <th ng-click="sortedList('openStaffRequests')" style="cursor: pointer" class="w9">
                        {{label.openNeeds}}<span class="{{(property=='openStaffRequests')?sortingclass:''}}"></span>
                    </th>
                    <th class="w11"></th>
                    <th data-ng-hide="isStaffingManager" class="w7"></th>
                    <th data-ng-hide="isStaffingManager" class="w4"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr data-ng-if="projectList.length == 0  && !projectLoader">
                    <td colspan="11">{{label.no_project}}</td>
                </tr>

                <tr data-ng-repeat-start="project in currProjectList track by $index" data-ng-if="lrow[$index]"
                    class="loading">
                    <td colspan="11">&nbsp;</td>
                </tr>

                <tr data-ng-repeat-end>
                    <td data-ng-click="allocateStaff(project)" style="cursor: pointer">{{project.projectName}}</td>
                    <td>{{project.businessUnit}}</td>
                    <td>{{project.regionvalue.regionName}}</td>
                    <td>{{project.client.clientName}}</td>
                    <td>{{'Billable' == project.projectType ? 'Yes':'No'}}</td>
                    <td>{{project.startDate | date:'MMM d, y' }}</td>
                    <td>{{project.endDate | date:'MMM d, y' }}</td>
                    <td style="color: #ff0000;">{{project.openStaffRequests}}</td>
                    <td class="glyph">
                        <button title="{{label.staffRequest}}" data-ng-click="allocateStaff(project)" type="button"
                                class="btn btn-xs btn-primary" style="font-size: x-small;">
                            {{label.staffRequest}}
                        </button>
                    </td>
                    <td class="glyph" data-ng-hide="isStaffingManager">
                        <button title="{{label.edit}}" data-ng-click="editProject(project.projectId)" type="button"
                                class="btn btn-xs btn-primary" style="font-size: x-small;float: right">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                    <td class="glyph" data-ng-hide="isStaffingManager">
                        <button title="{{label.delete}}" data-ng-click="deleteProject(project.projectId, $index);"
                                type="button" class="btn btn-xs btn-danger" style="font-size: x-small">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>

                <tr data-ng-if="lrow[currProjectList.length]" class="loading">
                    <td colspan="10">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="float: left; color: #999999;margin-left: 5px;">Total: {{projectList.length}} record(s)</div>
        <div class="pagination-wrap col-md-12" data-ng-show="projectList.length > itemPerPage" style="padding:0;">
            <pagination
                    data-ng-model="currProjectPage"
                    items-per-page="itemPerPage"
                    total-items="projectList.length"
                    max-size="maxSize"
                    boundary-links="true"
                    class="dboard-paginate"
            >
            </pagination>
            <div class="clear:both;"></div>
        </div>

    </div>
</div>