<div class="form-container" data-ng-controller="dataUploadCtrl">
    <form name="uploadForm" class="form-horizontal" novalidate>
        <div class="client-wrap">

                <div class="col-md-8 title-container">
                    <h2>Upload Reviewer Data</h2>
                    <div class="title-border" style="float: none;"></div>
                </div>

                <div class="form-group">
                    <div class="col-md-8" ng-class="{ 'has-error' : uploadForm.$invalid && !uploadForm.uploadFile.$pristine }">
                        <input file-model="excelFile" name="uploadFile" type="file" class="form-control" required>
                        <p data-ng-show="uploadForm.$invalid && !uploadForm.uploadFile.$pristine" class="help-block">Invalid File. Kindly upload a xls/xlsx file.</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8" >
                        <input type="button" class="btn btn-primary bb-button" value="Upload" data-ng-click="uploadReviewerData()">
                    </div>
                </div>
            </div>

    </form>
</div>