<div class="form-container" data-ng-controller="clientCtrl">
	<form name="clientDetail" class="form-horizontal" novalidate>
		<div class="client-wrap">
			<div class="row">
				<div class="col-md-4 title-container">
					<h2 data-ng-show="mode == 'CREATE'" class="text-right">{{label.createClient}}</h2>
					<h2 data-ng-show="mode == 'UPDATE'" class="text-right">{{label.updateClient}}</h2>
					<div class="title-border"></div>
				</div>
			</div>

			<div class="form-group"  ng-class="{'has-error': clientDetail.clientName.$invalid && !clientDetail.clientName.$pristine}">
			    <label class="control-label col-md-3">{{label.clientName}}</label>
			    <div class="col-md-8" >
			    	<input data-ng-model="formData.clientName" name="clientName" type="text" class="form-control" placeholder="Enter Client Name" required>
			    	<p ng-show="clientDetail.clientName.$invalid && !clientDetail.clientName.$pristine" class="help-block">{{errorMessage.client_name1_required}}</p>
			    </div>
			</div>
			<div class="form-group" ng-class="{'has-error':clientDetail.clientAddress1.$invalid && !clientDetail.clientAddress1.$pristine}">
			    <label class="control-label col-md-3">{{label.address1}}</label>
			    <div class="col-md-8">
			    	<input data-ng-model="formData.address.addressLine1"  name="clientAddress1" type="text" class="form-control" placeholder="Enter Address Line 1">
			    	<p ng-show="clientDetail.clientAddress1.$invalid && !clientDetail.clientAddress1.$pristine" class="help-block">{{errorMessage.add_required}}</p>
			    </div>
			</div>

			<div class="form-group">
		    	<label class="control-label col-md-3">{{label.address2}}</label>
			    <div class="col-md-8">
			    	<input data-ng-model="formData.address.addressLine2" name="clientAddress2" type="text" class="form-control" placeholder="Enter Address Line 2" >
			    </div>
			</div>

			<div class="form-group">
		    	<label class="control-label col-md-3" ng-class="{'has-error':clientDetail.city.$invalid && !clientDetail.city.$pristine}">{{label.city}}</label>
			    
			    <div class="col-md-3">
			    	<input data-ng-model="formData.address.city"  name="city" type="text" class="form-control" placeholder="City" >
			    	<p ng-show="clientDetail.city.$invalid && !clientDetail.city.$pristine" class="help-block">{{errorMessage.city_required}}</p>
			    </div>

			    <label class="control-label col-md-2" ng-class="{'has-error':clientDetail.state.$invalid && !clientDetail.state.$pristine}">{{label.state}}</label>
		    	
		    	<div class="col-md-3">
		    		<input data-ng-model="formData.address.state"  name="state" type="text" class="form-control" placeholder="State" >
		    		<p ng-show="clientDetail.state.$invalid && !clientDetail.state.$pristine" class="help-block">{{errorMessage.state_required}}</p>
		    	</div>
			</div>


			<div class="form-group">
		
		    	<label class="control-label col-md-3" ng-class="{'has-error':clientDetail.country.$invalid && !clientDetail.country.$pristine}">{{label.country}}</label>
		    	
		    	<div class="col-md-3">
			    	<country-select ng-model="formData.address.country" name="country" class="form-control" required></country-select>
			    		<p ng-show="clientDetail.country.$invalid && !clientDetail.country.$pristine" class="help-block">{{errorMessage.country_required }}</p>
			    </div>

		    	<label class="control-label col-md-2" ng-class="{'has-error':clientDetail.zipCode.$invalid && !clientDetail.zipCode.$pristine}">{{label.zipcode}}</label>
		    	
		    	<div class="col-md-3">
		    		<input data-ng-model="formData.address.zipCode" name="zipCode" type="number" class="form-control" placeholder="Zip Code" >
		    		<p ng-show="clientDetail.zipCode.$error.required && !clientDetail.zipCode.$pristine" class="help-block">{{errorMessage.zipCode_required}}</p>
		    		<p ng-show="clientDetail.zipCode.$error.number" class="help-block">{{errorMessage.invalid_zip}}</p>
		    	</div>
			</div>

			<div class="form-group">
				<div class="col-md-3"></div>
				<div class="col-md-8">
					<input data-ng-show="mode == 'CREATE'" type="button" ng-disabled="clientDetail.$invalid" class="btn btn-primary bb-button" value="Create" data-ng-click="create()"> 
					<input data-ng-show="mode == 'UPDATE'" type="button" ng-disabled="clientDetail.$invalid || clientDetail.$pristine" class="btn btn-primary bb-button" value="Update" data-ng-click="update()"> 
				</div>
			</div>

		</div>
	</form>

</div>